@font-face {
  font-family: "ABCWhyte";
  src: local("ABCWhyte"),
    url("../fonts/ABCWhyteInktrapEdu-Black.otf") format("truetype");
}
.roulette {
  margin-top: 100px;
  inset: 0;
  width: fit-content;
  display: inline-block;
  position: relative;
  z-index: 2;
}
.header {
  z-index: 4;
}
.title {
  font-family: "ABCWhyte";
  font-size: 90px;
  color: rgb(0, 132, 255);
  /* mix-blend-mode: hard-light; */
  filter: brightness(200%);
  position: fixed;
  z-index: 1;
  transform: translate(0%, 5%);
  margin-left: 20px;
  opacity: 75%;
}
.title1 {
  font-family: "ABCWhyte";
  font-size: 90px;
  color: rgb(255, 242, 2);
  /* mix-blend-mode: hard-light; */
  filter: brightness(200%);
  opacity: 75%;
  transform: translate(0%, 10%);
  position: fixed;
  z-index: 1;
  margin-left: 20px;
}
.title2 {
  margin-left: 20px;
  font-family: "ABCWhyte";
  color: rgb(255, 135, 253);
  /* mix-blend-mode: hard-light; */
  font-size: 90px;
  transform: translate(0%, 15%);
  position: fixed;
  z-index: 1;
  filter: drop-shadow(0 0 10px #ffffff) brightness(100%);
}
.typewriter {
  filter: drop-shadow(0 0 10px #ffffff);

  z-index: 3;
  background-image: linear-gradient(
    to right,
    rgba(0, 76, 135, 0.1),
    rgba(0, 208, 255, 0.898) 15%,
    rgba(1, 140, 142, 0.3)
  );
  color: rgb(255, 255, 255);
  font-size: 30px;
  animation-name: typing;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid black;
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
  &:hover {
    background-color: rgb(242, 0, 255);
  }
}

.position {
  display: flex;
  flex-direction: column;
  position: absolute;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 255, 170);
  }
}
